.home-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .targets{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .target-block{
            margin: 0.5em;
            border: 1px dotted #000;
            border-radius: 0.5em;
            min-width: 300px;
            min-height: 300px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            .title{
                color: darkblue;
                text-align: center;
            }

            .content{
                flex: 1;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
            }

            &.active{
                border: blue 1px solid;
                .title{
                    font-weight: bold;
                }
            }
        }
    }

    .scripts{
        display: flex;
        flex-flow: column nowrap;
        width: 940px;
        gap: 0.25rem;
        .actions{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            gap: 0.5rem;
        }

        .error-message{
            margin-top: 1rem;
            border: 1px solid red;
            padding: 1rem;
            color: crimson;
        }
    }

    .apow{
        margin: 1rem;
    }

    .version{
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: white;
        background-color: black;
    }

    svg{
        fill: white;
        margin-bottom: -3px;
        margin-right: 4px;
    }
}